@use 'sass:math';

#product_detail {
  .nav_prev {
    &:hover {
      background-color: get-color(dark);
    }
    svg {
      transform: rotate(90deg);
    }
  }
  .nav_next {
    &:hover {
      background-color: get-color(dark);
    }
    svg {
      transform: rotate(-90deg);
    }
  }
  .thumbs-swiper {
    height: 638px;
  }
}

.product_description {
  p {
    margin: 0 0 80px;
    @include get_font(400, 16px, 1.4);
  }
}

#prod-desc-tab {
  li {
    min-width: calc(
      (var(--column-width) * 3) - (var(--gutter-width) / 2)
    );
    .nav-link {
      &:not(.active) {
        &:hover {
          color: #fff;
        }
      }
      &.active {
        background-color: #fff;
      }
    }
  }
}

#prod-desc-content {
  .tab-pane {
    min-height: 410px;
  }
  table {
    border-collapse: separate;
    border-spacing: 0 12px;
    min-width: 50%;
  }
  tr {
    th,
    td {
      text-align: left;
      padding: 16px 8px;
      border-top: 1px solid get-color(light);
      border-bottom: 1px solid get-color(light);
      &:first-child {
        border-left: 1px solid get-color(light);
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        font-weight: 600;
      }
      &:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-right: 1px solid get-color(light);
      }
    }
    strong,
    b {
      font-weight: 600;
    }
  }
}

#prod-3-pane {
  &.active {
    display: flex;
    gap: 24px;
  }
  .nav-link {
    transition: none;
    &::before {
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 12px;
      height: 3px;
      background-color: get-color(primary);
      opacity: 0;
    }
    &.active {
      color: get-color(primary);
      font-weight: 700;
      &::before {
        opacity: 1;
      }
    }
  }
  .tab-pane {
    &.active {
      display: flex;
    }
  }
}

.product_architect {
  .apply_light {
    &::after {
      background-color: inherit;
      top: 0;
      left: 100%;
      height: 100%;
      width: var(--gutter-width);
    }
  }
}

.other_products {
  .title_wrapper {
    border-bottom: 1px solid get-color(dark);
  }
  .other_nav {
    svg {
      &:hover {
        fill: get-color(primary);
      }
    }
  }
  .next {
    svg {
      transform: rotate(180deg);
    }
  }
}
