@use 'sass:map';

$color_map: (
    "primary": #BD1520,
    "dark": #5C5D61,
    "light": #ECECEC
);

$default_colors: (
  'white': #fff,
  'transparent': transparent,
  'black': #000,
);

$color_map: map.merge($color_map, $default_colors);


$final_list: ();